<section class="container-fluid col-sm-11 col-md-7">
    <h1 class="text-center mt-4">Dashboard</h1>
    <p class="d-flex text-center text-secondary justify-content-center mx-2 subtitle">Compartilhamos notícias sobre o universo da Tecnologia.</p>
    <hr>

    <div class="d-flex flex-column align-items-center mt-3">
        {{#unless posts}}
        <p class="text-warning ">Ops! Nenhum post adicionado.</p>
        <img class="space-cat" src="/img/spacecat2.png" alt="Gato triste no espaço">
        {{/unless}}
    </div>

    {{#each posts}}
    <div class="container-fluid mt-5">
        <div class="text-center">
            <h3><i class="icon-title fas fa-rocket">...</i> {{this.title}}</h3>
            <p class="content-box my-5">{{this.content}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <div>
            <p class="btn btn-sm btn-outline-warning"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Ver posts do">Colaborador: {{this.author}}</p>
            <p class="btn btn-sm btn-outline-secondary">{{this.date}}</p>
            </div>
            <div class="actions d-flex">
                <div class="me-2">
                    <a class="col-12 btn btn-sm btn-secondary " href="/update/{{this.id}}">Editar</a>
                </div>
                <form action="/delete/{{this.id}}" method="POST">
                    <button class="btn btn-sm btn-danger">Deletar</button>
                </form>                 
            </div>
        </div>
    </div>
    <hr>
    {{/each}}
</section>